//Btn colors
$btnColor: $funGreen;
$btnTextColor: $white;

//List item color
$listIconColor: $flamePea;

//Checkbox colors
$checkBg: $white;
$checkMark: $funGreen;
$checkOutline: $silver;
$checkBorder: $white;

//Radio colors
$radioBg: $white;
$radioChecked: $funGreen;

//Heading
$headingColor: $white;
$headingBg: $funGreen;
$headingIconBg: $funGreen;
$headingCircleBg: $white;
$headingIconBorder: $ripeLemon;

//Shopping card
$cardBorder: $silver;
$imageOutline: $silver;
$labelBg: $ripeLemon;
$labelText: $rangoonGreen;
$promoText: $alizarinCrimson;