//Make pseudo element
@mixin pseudo($width: 60px, $height: 60px, $topPos: 0, $leftPos: 0) {
  content: "";
  position: absolute;
  display: block;
  width: $width;
  height: $height;
  top: $topPos;
  left: $leftPos;
}

//Btn config
@mixin btnConfig() {
  @if $hasBorder == true {
    box-shadow: 0 0 0 1px #dedee2;
    border: 1px solid #fff;
  }
  &__text {
    @if $hasIcon == true {
      padding-left: 25px;
      &::before {
        @include pseudo(20px, 20px);
        background-position: $btnIconPos;
        background-image: $btnIcon;
      }
    }
  }
}

//Create list icon
@mixin makeListIcon() {
  &::before {
    @include pseudo($listIconWidth, $listIconHeight, $listIconPosTop, $listIconPosLeft);
    background-color: $listIconColor;
    @if $roundIcon {
      border-radius: 50%;
    }
  }
}