body {
  font-family: Montserrat, sans-serif;
}
.col,
[class*="col-"] {
  margin-bottom: 30px;
}

.border {
  border: 1px solid silver;
  padding: 10px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  background-color: lighten(lightgreen, 15%);
}

.btn {
  background-color: $btnColor;
  color: $btnTextColor;
  width: 30%;
  min-width: 250px;
  text-transform: uppercase;
  padding: 7px 14px;
  cursor: pointer;
  border: 2px solid transparent;
  @include btnConfig();

  &:hover {
    background-color: darken($btnColor, 5%);
  }

  &__text {
    position: relative;
  }
}


//Features list
.features {
  padding-left: 30px;

  &__item {
    padding: 10px 20px;
    position: relative;
    @include makeListIcon();
  }
}


//Checkboxes
.check {
  text-align: left;
  color: black;
  margin-bottom: 15px;

  &__item {
    display: none;

    &:checked ~ .check__text::after {
      display: block;
    }

    @if $changeBgOnHover {
      &:checked ~ .check__text::before {
        background-color: $checkedCheckBg;
        border: 2px solid $checkBorder;
      }
    }
  }

  &__text {
    padding-left: $checkTextPadding;
    position: relative;
    cursor: pointer;

    &::before {
      @include pseudo(18px, 18px, $checkPosTop, $checkPosLeft);
      background-color: $checkBg;
      outline: 1px solid $checkOutline;
    }

    &::after {
      @include pseudo(6px, 10px, $checkMarkPosTop, $checkMarkPosLeft);
      border: solid $checkMark;
      border-width: 0 2px 2px 0;
      display: none;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}


//Radio buttons
.ideas {
  &__radio-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    margin-bottom: 50px;
  }

  &__radio {
    display: none;

    &:checked + .ideas__radio-desc::after {
      opacity: 1;
    }
  }

  &__radio-desc {
    padding-left: 30px;
    position: relative;
    cursor: pointer;

    &::before {
      @include pseudo(15px, 15px);
      background-color: $radioBg;
      border-radius: 50%;
    }

    &::after {
      opacity: 0;
      @include pseudo(15px, 15px);
      background-color: $radioChecked;
      border-radius: 50%;
      border: 2px solid $radioBg;
    }
  }
}

//Highlighted heading
.heading {
  font-size: 24px;
  @include max-move-right(4);
  //@include min-move-right(4);
  &__text {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 32px;
    color: $headingColor;
    padding: $headingPaddign;
    margin-left: 20px;
    display: inline-block;
    @if $hasBgColor {
      background-color: $headingBg;
      @if $hasTriangleCorner {
        &::after {
          @include pseudo(0, 0, 0, auto);
          right: -32px;
          border: 0 solid transparent;
          border-top-color: $headingBg;
          border-width: 32px 32px 0 0;
        }
      }
    }
  }

  &__wrap {
    display: inline-block;
    position: relative;
    @if $hasBgColor {
      &::before {
        @include pseudo(50px, 50px, -10px, 10px);
        background-color: $headingCircleBg;
        border-radius: 50%;
        border: 5px solid $headingIconBorder;
        @if $hasOutline {
          box-shadow: 0 0 0 3px #fff;
        }
      }
      &::after {
        @include pseudo(30px, 30px, 2px, 21px);
        font-family: "Font Awesome 5 Free";
        color: $headingIconBg;
        content: "\f005";
        font-weight: 900;
      }
    }
  }
}

//Shopping cards
.shopping {
  &__item {
    width: 100%;
    height: 500px;
    text-align: left;
    margin-right: 5%;
    @if $hasBorders {
      border: 1px solid #ccc;
    }
    background-color: #fff;
    position: relative;
  }

  &__pic-wrap {
    width: 100%;
    padding: 5px 5px 15px;
    position: relative;
  }

  &__pic {
    width: 100%;
    height: auto;
    @if $hasBorders {
      border: 8px solid $imageOutline;
    }
  }

  &__details {
    padding: 0 10px 10px;
  }

  @if $hasColorChoices {
    &__quickview {
      min-height: 28px;
      @if $hasBorders {
        border-bottom: 1px dashed lighten($cardBorder, 5%);
      }
      margin-bottom: 10px;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
    }
    &__list-item {
      height: 17px;
      width: 29px;
      background-color: red;
      margin-bottom: 5px;
      margin-right: 5px;

      &:last-child {
        margin: 0;
        background-color: aqua;
      }

      &:nth-child(2) {
        background-color: blue;
      }

      &:nth-child(3) {
        background-color: sandybrown;
      }

      &:nth-child(4) {
        background-color: darkslategray;
      }

      &:first-child {
        background-color: green;
      }
    }
  }

  &__price-wrap {
    margin-bottom: 5px;
  }

  &__price {
    font-weight: 600;

    &--old {
      display: inline;
    }

    &--new {
      display: none;
    }

    @if $onSale {
      &--new {
        display: inline;
        color: red;
      }
      &--old {
        position: relative;

        &::before {
          @include pseudo(100%, 2px, 50%, 0);
          transform: rotate(-10deg);
          top: 50%;
          left: 0;
          border-bottom: 2px solid #c41230;
        }
      }
    }
  }

  &__label {
    display: none;
  }

  @if $onSale {
    &__label {
      display: block;
      text-transform: uppercase;
      font-weight: bold;
      color: $labelText;
      padding: 5px 12px;
      font-size: 14px;
      position: absolute;
      bottom: 18px;
      left: 10px;
      @if $hasBorders {
        top: 0;
        bottom: auto;
        left: 0;
      }
      z-index: 1;

      &::before {
        @include pseudo(100%, 100%);
        z-index: -1;
        border: none;
        background-color: $labelBg;
        transform: skewX(-20deg);
        @if $hasBorders {
          border-style: solid;
          border-width: 23px 7px 0 0;
          border-color: $labelBg transparent transparent transparent;
          width: 115%;
          background-color: rgba(255, 255, 255, 0);
          transform: none;
        }
      }
    }
  }

  &__name {
    display: block;
    margin-bottom: 5px;
  }

  &__promo-text {
    display: none;
  }

  @if $hasPromoText {
    &__promo-text {
      display: block;
      color: $promoText;
    }
  }
  @if $hasRating {
    &__rating {
      position: absolute;
      bottom: 10px;
      right: 15px;
      width: 102px;
      height: 20px;
      background-image: url(../img/ratingImg.png);
      background-size: 102px 40px;

      &::after {
        @include pseudo(70%, 25px);
        background: url(../img/ratingImg.png) 0 -20px no-repeat;
        background-size: 102px 40px;
      }
    }
  }
}
