//Button configs
$hasIcon: false;
$hasBorder: false;

//List icons config
$roundIcon: true;
$listIconWidth: 4px;
$listIconHeight: 4px;
$listIconPosTop: 15px;
$listIconPosLeft: 5px;


//Checkbox configs
$changeBgOnHover: false;
$checkTextPadding: 50px;
$checkPosTop: 0;
$checkPosLeft: 15px;
$checkMarkPosTop: 3px;
$checkMarkPosLeft: 21px;

//Heading config
$hasBgColor: true;
$hasTriangleCorner: false;
$hasOutline: false;
$headingPaddign: 0 20px 0 85px;

//Shopping card config
$hasBorders: true;
$hasColorChoices: true;
$onSale: true;
$hasPromoText: true;
$hasRating: true;

//Colours
$alizarinCrimson: #e72020;
$funGreen: #00794a;
$yellowMetal: #6d7839;
$flamePea: #db623c;
$bondiBlue: #008fb0;
$black: #000000;
$rangoonGreen: #1a1915;
$alabaster: #fbfbfb;
$mineShaft: #333333;
$pumpkin: #ff8523;
$ripeLemon: #f3cf1e;
$doveGray: #666666;
$silver: #cccccc;
$sunsetOrange: #ff4e50;
$dustyGray: #999999;
$white: #ffffff;
$java: #1cd7ad;
$yellowSea: #ffa507;
$royalBlue: #4e73db;
$mercury: #e1e1e1;
$treePoppy: #f78e1e;