//Btn colors
$btnColor: $yellowMetal;
$btnTextColor: $white;

//List item color
$listIconColor: $treePoppy;

//Checkbox colurs
$checkBg: $white;
$checkMark: $sunsetOrange;
$checkOutline: $silver;
$checkBorder: $white;


//Radio colors
$radioBg: $white;
$radioChecked: $yellowMetal;

//Heading
$headingColor: $white;
$headingBg: $funGreen;
$headingIconBg: $funGreen;
$headingCircleBg: $white;
$headingIconBorder: $ripeLemon;

//Shopping card
$cardBorder: $silver;
$imageOutline: $mercury;
$labelBg: $treePoppy;
$labelText: $white;
$promoText: $treePoppy;