////Button configs
$btnIcon: url(../img/icons.png);
$btnIconPos: -169px -214px;
$hasIcon: true;
$hasBorder: true;

//List icons config
$listIconWidth: 4px;
$listIconHeight: 4px;
$listIconPosTop: 15px;
$listIconPosLeft: 5px;
$roundIcon: false;

//Checkbox configs
$changeBgOnHover: false;
$checkTextPadding: 50px;
$checkPosTop: 0;
$checkPosLeft: 15px;
$checkMarkPosTop: 3px;
$checkMarkPosLeft: 21px;

//Heading config
$hasBgColor: false;
$hasTriangleCorner: false;
$hasOutline: false;
$headingPaddign: 0 20px;

//Shopping card config
$hasBorders: false;
$hasColorChoices: true;
$onSale: true;
$hasPromoText: true;
$hasRating: true;

//Colours
$funGreen: #00794a;
$yellowMetal: #6d7839;
$black: #000000;
$rangoonGreen: #1a1915;
$alabaster: #fbfbfb;
$mineShaft: #333333;
$treePoppy: #f78e1e;
$pumpkin: #ff8523;
$doveGray: #666666;
$silver: #cccccc;
$sunsetOrange: #ff4e50;
$dustyGray: #999999;
$white: #ffffff;
$java: #1cd7ad;
$yellowSea: #ffa507;
$royalBlue: #4e73db;
$mercury: #e1e1e1;