//Btn colors
$btnColor: $alizarinCrimson;
$btnTextColor: $white;

//List item color
$listIconColor: $mineShaft;

//Checkbox colors
$checkBg: $white;
$checkedCheckBg: $bondiBlue;
$checkMark: $white;
$checkOutline: $silver;
$checkBorder: $white;

//Radio colors
$radioBg: $white;
$radioChecked: $bondiBlue;

//Heading
$headingColor: $white;
$headingBg: $rangoonGreen;
$headingIconBg: $white;
$headingCircleBg: $doveGray;
$headingIconBorder: $bondiBlue;

//Shopping card
$cardBorder: $silver;
$imageOutline: $mercury;
$labelBg: $alizarinCrimson;
$labelText: $white;
$promoText: $alizarinCrimson;

