//Btn config
$btnIcon: url(../img/icons2.png);
$btnIconPos: 0 -889px;
$hasIcon: true;
$hasBorder: false;

//List icons config
$listIconWidth: 4px;
$listIconHeight: 4px;
$listIconPosTop: 15px;
$listIconPosLeft: 5px;
$roundIcon: true;

//Checkbox configs
$changeBgOnHover: true;
$checkTextPadding: 50px;
$checkPosTop: 0;
$checkPosLeft: 15px;
$checkMarkPosTop: 3px;
$checkMarkPosLeft: 21px;

//Heading config
$hasBgColor: true;
$hasTriangleCorner: true;
$hasOutline: true;
$headingPaddign: 0 20px 0 65px;

//Shopping card config
$hasBorders: true;
$hasColorChoices: false;
$onSale: true;
$hasPromoText: false;
$hasRating: true;

//Colours
$alizarinCrimson: #e72020;
$funGreen: #00794a;
$yellowMetal: #6d7839;
$black: #000000;
$rangoonGreen: #1a1915;
$alabaster: #fbfbfb;
$mineShaft: #333333;
$pumpkin: #ff8523;
$doveGray: #666666;
$silver: #cccccc;
$sunsetOrange: #ff4e50;
$dustyGray: #999999;
$white: #ffffff;
$java: #1cd7ad;
$yellowSea: #ffa507;
$royalBlue: #4e73db;
$mercury: #e1e1e1;