//=================================
//Container
//=================================
//Basic container
.container {
  @include makeContainer();
}
//Full width container
.container-fluid {
  @include makeContainer(100%);
}

//Container media
@each $key, $value in $breakpoints {
  @media (min-width: $value) {
    .container {
      width: $key;
    }
  }
}

//=================================
//Row
//=================================
//Basic row
.row {
  @include makeRow();
}
//Make alignable rows
@each $key, $value in $rowAlignment {
  .#{$key} {
    @include makeRow($value);
  }
}

//row no-gutters
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

//=================================
//Cells
//=================================
// Make all kind of cells
@each $key, $value in $cellsResponsive {
  @media(min-width: $key) {
    @for $i from 1 through $cellAmount {
      .col-#{$value}-#{$i} {
        @include makeCell($i);
      }
    }
  }
}

//Make columns equal to each other, or 100%
//width column if its the only one in a row
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-left: $indentWidth;
  padding-right: $indentWidth;
}

//Move right classes
@each $key, $value in $cellsResponsive {
  @media(min-width: $key) {
    @for $i from 1 through $cellAmount {
      .col-#{$value}-mr-#{$i} {
        @include cellMove(left, $i);
      }
    }
  }
}

//Move left classes
@each $key, $value in $cellsResponsive {
  @media(min-width: $key) {
    @for $i from 1 through $cellAmount {
      .col-#{$value}-ml-#{$i} {
        @include cellMove(right, $i);
      }
    }
  }
}

//Cells order
@each $key, $value in $cellsResponsive {
  @media(min-width: $key) {
    @for $i from 1 through $cellAmount {
      .order-#{$value}-#{$i} {
        order: $i;
      }
    }
  }
}
