//=================================
//Container
//=================================
//Container styles
@mixin makeContainer($containerWidth: auto) {
  width: $containerWidth;
  margin-right: auto;
  margin-left: auto;
  padding-left: $indentWidth;
  padding-right: $indentWidth;
}

//=================================
//Row
//=================================
//Row creation
@mixin makeRow($alignment: flex-start) {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$indentWidth;
  margin-left: -$indentWidth;
  justify-content: $alignment;
}

//Row no gutters
@mixin row-no-gutters() {
  margin-left: 0;
  margin-right: 0;
  >* {
    padding-left: 0;
    padding-right: 0;
  }
}

//=================================
//Cells creation
//=================================
//Default cell styles
@mixin makeCell($cellsToCreate) {
  width: 100%/$cellAmount * $cellsToCreate;
  padding-left: $indentWidth;
  padding-right: $indentWidth;
}

//Mobile cell creation
@mixin makeMinCell($cellsToCreate) {
  @media (min-width: $breakpointMobile) {
    @include makeCell($cellsToCreate);
  }
}

//Tablet cell creation
@mixin makeMidCell($cellsToCreate) {
  @media (min-width: $breakpointTablet) {
    @include makeCell($cellsToCreate);
  }
}

//Desktop cell creation
@mixin makeMaxCell($cellsToCreate) {
  @media (min-width: $breakpointDesktop) {
    @include makeCell($cellsToCreate);
  }
}

//=================================
//Cells movement
//=================================

@mixin cellMove($side, $movementRatio) { //$movementRatio - amount of cells to move
  margin-#{$side}: 100%/$cellAmount * $movementRatio;
}

//Move right on mobile
@mixin min-move-right($movementRatio) {
  @media (min-width: $breakpointMobile) {
    @include cellMove(left, $movementRatio);
  }
}
//Move right on tablet
@mixin mid-move-right($movementRatio) {
  @media (min-width: $breakpointTablet) {
    @include cellMove(left, $movementRatio);
  }
}
//Move right on desktop
@mixin max-move-right($movementRatio) {
  @media (min-width: $breakpointDesktop) {
    @include cellMove(left, $movementRatio);
  }
}

//Move left on mobile
@mixin min-move-left($movementRatio) {
  @media (min-width: $breakpointMobile) {
    @include cellMove(right, $movementRatio);
  }
}
//Move left on tablet
@mixin mid-move-left($movementRatio) {
  @media (min-width: $breakpointTablet) {
    @include cellMove(right, $movementRatio);
  }
}
//Move left on desktop
@mixin max-move-left($movementRatio) {
  @media (min-width: $breakpointDesktop) {
    @include cellMove(right, $movementRatio);
  }
}

//=================================
//Cells order
//=================================

//Set order on mobile
@mixin min-cell-order($orderNumb) {
  @media (min-width: $breakpointMobile) {
    order: $orderNumb;
  }
}

//Set order on tablet
@mixin mid-cell-order($orderNumb) {
  @media (min-width: $breakpointTablet) {
    order: $orderNumb;
  }
}

//Set order on desktop
@mixin max-cell-order($orderNumb) {
  @media (min-width: $breakpointDesktop) {
    order: $orderNumb;
  }
}