//Indents
$indentWidth: 10px !default;

//Cells amount
$cellAmount: 12 !default;

//Cells responsive
$cellMobile: min !default;
$cellTablet: mid !default;
$cellDesktop: max !default;

//Container sizes
$containerMobile: 320px !default;
$containerTablet: 768px !default;
$containerDesktop: 960px !default;

//Breakpoints sizes
$breakpointMobile: 320px !default;
$breakpointTablet: 768px !default;
$breakpointDesktop: 1200px !default;

//Bkeakpoints-container size ratio
$breakpoints: (
        $containerMobile: $breakpointMobile,
        $containerTablet: $breakpointTablet,
        $containerDesktop: $breakpointDesktop
);

//Breakpoints-cells ratio
$cellsResponsive: (
        $breakpointMobile: $cellMobile,
        $breakpointTablet: $cellTablet,
        $breakpointDesktop: $cellDesktop
);

//Row classes
$rowAlignment: (
        row-right: flex-end,
        row-center: center
);

